<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>auto scoring</title>
    
</head>
<body>
    <header>   
        
        <a class="header-logo" href="#">Number Classifier</a>
    </header>

    <div class="main">    
        <h2> 送信された画像の数字を識別します</h2>
        <form method="POST" enctype="multipart/form-data">
            <p>未記入の解答欄画像を送信してください</p>
            <input class="file_choose" type="file" name="qr_file">
            <p>記入済み解答欄画像を送信してください</p>
            <input class="file_choose" type="file" name="ans_file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        
    </footer>
</body>
</html>

