{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>auto scoring</title>
    
</head>
<body>
    <header>   
        
        <a class="header-logo" href="#">Number Classifier</a><br>
        <a href='/input'>試験を作成</a>
    </header>

    <div class="main">    
        <h2>解答用紙画像をアップロードしてください。</h2>
        <p>答案記入済みの画像を送信すると自動で採点します</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="img_file" id='img_file'>
            <input class="btn" value="送信" type="submit">
        </form>
    </div>

    <footer>
        
    </footer>
</body>
</html>

{% endblock %}
